.contenedor{
    display: flex;
    justify-content: center;

}
.columna1{
    background-color: rgb(175, 205, 205);
    padding: 25px;
    margin: 0 20px;

}
.columna2{
    margin: 0 20px;
}
.columna3{
    margin: 0 20px;
}
.columna4{
    margin: 0 20px;
}

.footer {
    min-height: 70px;
    background-color: #261e1e;
    color: #FFFFFF;
    width: 100%;
    position: relative;
    bottom: 50;   
    margin: 20 0px;          
  }
.enlacefooter:link{
    color: black;
}
.enlacefooter:visited{
    color: black;
}
.enlacefooter:hover{
    color: blue;
}
.texto-blanco {
     color: #FFFFFF;
     background-color: #261e1e;
}
.texto-dorado {
      color: #FFD347;
      margin: 30px;
}
.fondo-dorado {
     background-color: #FFD347;
}
