header{
    display: flex;
    background-color: #261e1e;
    height: 135px;
}
.logo{
    display: flex;
    background-color: #261e1e;
    color: #FFFFFF;
}
.menuheader{
    display: flex; 
    gap: 10px;
    align-items: center;
    padding: 5px;
    height: 100px;
    margin-left: auto;
    background-color: #261e1e;
}
.menu{
    background-color: #261e1e;
    color: white;
    border-spacing: 15px;
    margin-left: auto;
}
.enlaceheader:link{
    color: white;
}
.enlaceheader:visited{
    color: white;
}
.enlaceheader:hover{
    font-size: 1.5em;
}
