.imagen1{
    align-items: center;
    padding: 10px;
    height: 100px;
    margin-left: auto;
}
.contenedor1{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    height: 450px;
    margin: 0 235px;
    padding: 25;
}
.formulario{
    margin: auto 50px;
    text-align: center;
}
.bnregistro:link{
    color: black;
}
.bnregistro:visited{
    color: black;
}